/*
seletor(
    propriedade: valor da propriedade
)
*/

h1 {
    /*seletor*/
    font-size: 65px;
    /*nome da propriedade: valor da propriedade*/
    color: orange;
    font-family: sans-serif;
    text-decoration: underline overline;
    text-decoration-color: chocolate;
    text-decoration-style: wavy;
}

ul {
    background-color: rgb(243, 195, 106);
}

.bg-orange {
    background-color: rgb(243, 195, 106);
}

p {
    font-weight: 600;
    font-size: 3em;
    /* em é relativo ao tamanho da fonte do elemento pai(nesse caso o body)*/
    /* rem é relativo ao tamanho da fonte do elemento root(o html)*/
    font-style: italic;
}

body {
    font-size: 16px;
    text-align: center;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: rgb(95, 13, 13);
}

li {
    line-height: 100px;
}